<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="../../app.css">
</head>
<body>
    <script>
        var app = angular.module("myList", []);
        app.controller("myListController", function($scope) {
            <!-- Video functionality-->
            $scope.addVideo = function () {
                $scope.errortextVideo = "";
                if (!$scope.addMeVideo) {return;}
                if ($scope.videos.indexOf($scope.addMeVideo) == -1) {

                    $scope.videos.push({url: $scope.addMeVideo, date: new Date()});
                } else {
                    $scope.errortextVideo = "The video is already in your list.";
                }
            };
            $scope.removeVideo = function (x) {
                $scope.videos.splice(x, 1);
            };
            $scope.videos = [
                {
                    "url": "https://www.youtube.com/watch?v=mbwUs1rnuQg",
                    "date": "2016-05-11"
                },
                {
                    "url": "https://www.youtube.com/watch?v=7PmUtmfTmbg",
                    "date": "2016-05-11"
                }
            ];
        });
        app.filter('trusted', ['$sce', function ($sce) {
            return function(url) {
                var video_id = url.split('v=')[1].split('&')[0];
                return $sce.trustAsResourceUrl("https://www.youtube.com/embed/" + video_id);
            };
        }]);
    </script>
    <div ng-app="myList" ng-controller="myListController">
        <ul>
            <li ng-repeat="video in videos | orderBy: '-date'"  style="padding:20px">
                <div>
                    <iframe width="560" height="315" ng-src="{{video.url | trusted}}"
                            frameborder="0" allowfullscreen></iframe>
                    <!--  Comments
                    <p>Display output for control reasons: {{video.url | trusted}}</p>
                    -->
                    <span class="closingX" ng-click="removeVideo($index)">&times;</span>
                </div>
            </li>
            <input ng-model="addMeVideo">
            <button ng-click="addVideo()">Add video</button>
            <p>{{errortextVideo}}</p>
        </ul>
    </div>
</body>
</html>